# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Media files
/media/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg

# Local settings
settings_local.py
local_settings.py

# Static files
/staticfiles/
/static/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pycharm
.idea/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db
desktop.ini
